<script type="text/ng-template"
  id="RegisterPopup.html">
  <div class="modal-header">
    <h3 class="modal-title">Register</h3>
  </div>
  <div class="modal-body">
    {{message}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
      type="button"
      ng-click="done()">Done</button>
  </div>
</script>

<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="regUserForm"
    role="form">
    <div class="form-group"
      ng-class="{ 'has-error': false }">
      <label>Email</label>
      <input type="email"
        class="form-control"
        ng-model="regID"
        required />
    </div>
    <div class="form-group"
      ng-class="{ 'has-error': false }">
      <label>Password</label>
      <input type="password"
        class="form-control"
        ng-model="regPW"
        required />
    </div>
    <div class="form-group"
      ng-class="{ 'has-error': false }">
      <label>Full Name</label>
      <input type="text"
        class="form-control"
        ng-model="userFullName" />
    </div>
    <div class="form-group"
      ng-class="{ 'has-error': false }">
      <label>Description</label>
      <input type="text"
        class="form-control"
        ng-model="description" />
    </div>
    <div class="form-actions">
      <button type="submit"
        ng-click="register(regID, regPW,userFullName,description)"
        ng-disabled="regUserForm.$invalid"
        class="btn btn-primary">Register</button>
      <a ui-sref="login"
        class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
