<div class="container historyTableContainer">
  <table class="table table-hover">
    <thead>

      <tr>
        <th ng-repeat="header in tableHeaders">
          <a ng-init="order = null"
            ng-click="order = !order ; sorting($index,header.key,order)">
            {{header.value}}<span ng-show="masterOrderKey === $index "class="glyphicon " ng-class="{'glyphicon-sort-by-alphabet':order,'glyphicon-sort-by-alphabet-alt':!order}"></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="history in historyList">
        <td>{{history.action_data}}</td>
        <td>{{history.action_project}}</td>
        <td>{{history.action_type}}</td>
        <td>{{history.action_date| date:'dd/MM/yyyy HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
</div>
