

<div class="container projectTableContainer">
  <table class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="header in tableHeaders">{{header.value}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projectlist" ui-sref="singleProject({id: project._id})">
        <td>{{project.title}}</td>
        <td>{{project.start_date| date:'dd/MM/yyyy'}}</td>
        <td>{{project.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
