<script>
  // $('.btn-toggle').click(function() {
  //   $(this).find('.btn').toggleClass('active');
  //
  //   if ($(this).find('.btn-primary').size()>0) {
  //     $(this).find('.btn').toggleClass('btn-primary');
  //   }
  //   if ($(this).find('.btn-danger').size()>0) {
  //     $(this).find('.btn').toggleClass('btn-danger');
  //   }
  //   if ($(this).find('.btn-success').size()>0) {
  //     $(this).find('.btn').toggleClass('btn-success');
  //   }
  //   if ($(this).find('.btn-info').size()>0) {
  //     $(this).find('.btn').toggleClass('btn-info');
  //   }
  //   $(this).find('.btn').toggleClass('btn-default');
  // });

</script>

<div class="container projectTableContainer">
  <h1>{{projectTitle}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-repeat="header in singleProjectTableHeader">{{header.value}}</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="decision in decisionlist">
        <td>{{decision.user_name}}</td>
        <td>{{decision.description}}</td>
        <!-- <td>{{decision.decision}}</td> -->
        <td>
          <div class="btn-group btn-toggle"
            ng-init="selectStatus = decision.decision">
            <button class="btn btn-sm projectTableToggleButton"
              ng-class="{'active':selectStatus === 'approve','btn-primary':selectStatus === 'approve','btn-default':selectStatus !== 'approve'}"
              ng-click="selectStatus = 'approve';projectDecision(decision._id,true,decision.user_id)">Approve</button>
            <button class="btn btn-sm projectTableToggleButton"
              ng-class="{'active':selectStatus === 'reject','btn-primary':selectStatus === 'reject','btn-default':selectStatus !== 'reject'}"
              ng-click="selectStatus = 'reject';projectDecision(decision._id,false,decision.user_id)">Reject</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
