<!DOCTYPE html>
<html ng-app="mainApp">

<head>
  <title>LYNK Project Management System</title>

  <!-- angular module -->
  <script src="./lib/bowerRoot/angular/angular.min.js"></script>
  <script src="./lib/bowerRoot/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="./lib/bowerRoot/angular-animate/angular-animate.min.js"></script>
  <script src="./lib/bowerRoot/angular-touch/angular-touch.min.js"></script>
  <script src="./lib/bowerRoot/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <!-- css -->
  <link href="./lib/bowerRoot/bootstrap/dist/css/bootstrap-theme.min.css"
    rel="stylesheet" />
  <link href="./lib/bowerRoot/bootstrap/dist/css/bootstrap.min.css"
    rel="stylesheet" />

  <!-- inject:js -->
  <script src="views/actionHistory/js/controller.js"></script>
  <script src="views/dashboard/js/controller.js"></script>
  <script src="views/login/js/controller.js"></script>
  <script src="lib/js/helper/UserDataHelper.js"></script>
  <script src="lib/js/utilites/LocalStorageManager.js"></script>
  <script src="lib/js/utilites/RestfulAPIManager.js"></script>
  <script src="api/AuthAPI.js"></script>
  <script src="api/ProjectAPI.js"></script>
  <script src="api/UserAPI.js"></script>
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="views/actionHistory/css/style.css">
  <link rel="stylesheet" href="views/dashboard/css/style.css">
  <link rel="stylesheet" href="views/login/css/style.css">
  <!-- endinject -->

  <script src="./js/app.js"></script>
</head>

<body ng-controller="mainViewsController">

  <nav class="nav navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ng-if="username" class="navbar-brand" ui-sref="dashboard">LYNK <span>   - {{mainTitle}}</span></a>
        <a ng-if="!username" class="navbar-brand">LYNK <span>   - {{mainTitle}}</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right"
          ng-if="username">
          <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          <li><a><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
          <li><a ui-sref="actionHistory"><span class="glyphicon glyphicon-time"></span> History</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div ui-view></div>
  <!-- <a ui-sref="pageOne">pageOne</a>
  <a ui-sref="pageTwo">pageTwo</a> -->


</body>

</html>
